[Unit]
Description=Emacs: the extensible, self-documenting text editor (daemon)
After=network.target

[Service]
Type=forking
Environment=XDG_CONFIG_HOME=%h/.config
Environment=EMACS_SERVER_FILE=%h/.config/emacs/server/emacs
ExecStart=/usr/bin/emacs --daemon=emacs
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always
WorkingDirectory=%h

[Install]
WantedBy=default.target
